@inherits LayoutComponentBase

<FrameworkLayout>
    <FrameworkContent>
        <TopAppbar />
    </FrameworkContent>
    <ChildContent>
        @Body
        <footer class="d-flex flex-wrap align-self-stretch mt-auto mx-6 pt-4 px-4 pb-1 gap-3 justify-content-space-around">
            <small>© Tavenem</small>
            <small><a href="./privacy">Privacy</a></small>
            <small><a href="./support">Support</a></small>
        </footer>
    </ChildContent>
</FrameworkLayout>
