@page "/privacy"

<PageTitle>Scop - Privacy</PageTitle>

<div class="d-flex flex-column align-center mt-10 py-6">
    <MudText Typo="Typo.h3">Privacy</MudText>

    <MudPaper Class="d-flex flex-column align-center justify-space-around my-4 pa-6" Style="width: 100%" Square="true" Elevation="0">
        <article style="max-width: 500px">
            <MudText Typo="Typo.h4">Your Data</MudText>
            <MudText>
                Scop does not collect any of your personal data.
            </MudText>
            <MudText>
                We don't even collect your story data. It is saved in your own web browser,
                and in your Google Drive™ account if you choose to sign in to that service.
                Scop does not store your Google account information, either.
                Your browser performs a secure login directly with Google's service.
                Your login information is never sent to Scop.
                See the <MudLink Href="https://policies.google.com/privacy" Target="_blank">Google privacy policy</MudLink>
                for information about Google Drive's own use of your data.
            </MudText>
            <MudText>
                Scop doesn't use any tracking cookies, or any other third party data collection tools.
                Google sets up a number of cookies to facilitate Google Drive
                integration, if you choose to sign into that service.
                These cookies are managed by Google, and are not used directly by Scop.
                Please refer to the Google policy linked above for information regarding Google's use of cookies.
            </MudText>
        </article>
    </MudPaper>
</div>