@page "/privacy"

<PageTitle>Scop - Privacy</PageTitle>

<h1 class="px-5">Privacy</h1>

<article class="p-5 pb-0">
    <h2>Your Data</h2>
    <p>
        Scop does not collect any of your personal data.
    </p>
    <p>
        We don't even collect your story data. It is saved in your own web
        browser, and in your Google Drive™ account if you choose to sign in to
        that service. Scop does not store your Google account information,
        either. Your browser performs a secure login directly with Google's
        service. Your login information is never sent to Scop. See the <a
        href="https://policies.google.com/privacy" target="_blank">Google
        privacy policy</a> for information about Google Drive's own use of your
        data.
    </p>
    <p>
        Scop doesn't use any tracking cookies, or any other third party data
        collection tools. Google sets up a number of cookies to facilitate
        Google Drive integration, if you choose to sign into that service. These
        cookies are managed by Google, and are not used directly by Scop. Please
        refer to the Google policy linked above for information regarding
        Google's use of cookies.
    </p>
</article>