@page "/support"

<PageTitle>Scop - Support</PageTitle>

<div class="d-flex flex-column align-center mt-10 py-6">
    <MudText Typo="Typo.h3">Support</MudText>

    <MudPaper Class="d-flex flex-column align-center justify-space-around my-6 mb-4 pa-6" Style="width: 100%" Square="true" Elevation="0">
        <article style="max-width: 500px">
            <MudText Typo="Typo.h4">Open Source</MudText>
            <MudText>
                Scop is open source software.
            </MudText>
            <MudText>
                You can view the complete source for Scop on <MudLink Href="https://github.com/Tavenem/Scop" Target="_blank">GitHub</MudLink>.
            </MudText>
            <MudText>
                If you find a bug in Scop, or want to request a new feature,
                check the <MudLink Href="https://github.com/Tavenem/Scop/issues" Target="_blank">issues</MudLink> page.
                Please review the existing issues before posting,
                to make sure your request isn't already being tracked.
            </MudText>
            <MudText>
                Please check the <MudLink Href="https://github.com/Tavenem/Scop/blob/main/docs/CODE_OF_CONDUCT.md" Target="_blank">code of conduct</MudLink> page
                before submitting or commenting on issues.
            </MudText>
        </article>
    </MudPaper>

    <article class="px-6" style="max-width: 500px">
        <MudText Typo="Typo.h4">Supporting Scop</MudText>
        <MudText>
            Do <em>you</em> want to support Scop?
        </MudText>
        <MudText>
            Scop isn't currently set up to receive donations,
            but if you have found it helpful,
            feel free to send kudos to <a href="mailto:contact@tavenem.com">contact@tavenem.com</a>.
        </MudText>
        <MudText>
            If enough people express an interest in supporting Scop financially,
            a mechanism for sending one-time or recurring donations may be set up.
        </MudText>
        <MudText>
            I'd especially love to hear from you if you use Scop to help you write something that's been published
            (including both traditional published works, or ongoing works being published online).
            With your permission, I may link to your work on the front page,
            as an example of what's been made with Scop's help.
        </MudText>
    </article>
</div>