@page "/support"

<PageTitle>Scop - Support</PageTitle>

<h1 class="mt-6 p-5">Support</h1>

<article class="mt-3 p-5" style="max-width: 500px">
    <h2>Open Source</h2>
    <p>
        Scop is open source software.
    </p>
    <p>
        You can view the complete source for Scop on <a
        href="https://github.com/Tavenem/Scop" target="_blank">GitHub</a>.
    </p>
    <p>
        If you find a bug in Scop, or want to request a new feature, check the
        <a href="https://github.com/Tavenem/Scop/issues"
        target="_blank">issues</a> page. Please review the existing issues
        before posting, to make sure your request isn't already being tracked.
    </p>
    <p>
        Please check the <a
        href="https://github.com/Tavenem/Scop/blob/main/docs/CODE_OF_CONDUCT.md"
        target="_blank">code of conduct</a> page before submitting or commenting
        on issues.
    </p>
</article>

<article class="mt-3 p-5" style="max-width: 500px">
    <h2>Supporting Scop</h2>
    <p>
        Do <em>you</em> want to support Scop?
    </p>
    <p>
        Scop isn't currently set up to receive donations, but if you have found
        it helpful, feel free to send kudos to <a
        href="mailto:contact@tavenem.com">contact@tavenem.com</a>.
    </p>
    <p>
        If enough people express an interest in supporting Scop financially, a
        mechanism for sending one-time or recurring donations may be set up.
    </p>
    <p>
        I'd especially love to hear from you if you use Scop to help you write
        something that's been published (including both traditional published
        works, or ongoing works being published online). With your permission, I
        may link to your work on the front page, as an example of what's been
        made with Scop's help.
    </p>
</article>